@media screen and (max-width:768px) {
    .main-content {
        grid-template-columns: 1fr;
    }
    .home-banner h1 {
        font-size: 2em;
        margin: 0 2em;
        text-align: center;
    }
    .home-banner {
        height: 40vh;
    }
    #contact {
        grid-column-start: 1;
        margin: 0 2em;
    }
    .contact-banner {
        height: 40vh;
    }
    .contact-banner h1 {
        font-size: 2em;
        margin: 0 2em;
        text-align: center;
    }
    .nav-button {
        display: block;
        align-self: center;
    }
    .navigation {
        width: 100%;
        flex-wrap: wrap;
        max-height: 0;
        overflow: hidden;
    }
    .navigation a {
        width: 100%;
        display: block;
    }
    .slide h2 {
        font-size: 4ch;
    }
    .slide {
        min-height: auto;
        aspect-ratio: 1/1;
    }
}