@media screen and (max-width:768px) {
    .main-content {
        grid-template-columns: 1fr;
    }
    .home-banner h1 {
        font-size: 2em;
        margin: 0 2em;
        text-align: center;
    }
    .home-banner {
        height: 40vh;
    }
    #contact {
        grid-column-start: 1;
        margin: 0 2em;
    }
    .contact-banner {
        height: 40vh;
    }
    .contact-banner h1 {
        font-size: 2em;
        margin: 0 2em;
        text-align: center;
    }
}